@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body{
    width: 100% ;
    margin-top: -2px;
    overflow-x: hidden;
    background-image: url("https://img.freepik.com/foto-gratis/marron-beige-crema-claro-lujo-abstracto-como-fondo-modelo-textura-seda-algodon_1258-71591.jpg?w=826&t=st=1666635909~exp=1666636509~hmac=7dd2630c1a781949693e972d514283d2a15cb8c81f72d590f0c4c585d1720368.jpg");
    background-size: 200%;
    }


.header{
    background-image: url("https://img.freepik.com/foto-gratis/fondo-borroso-oscuro-abstracto-color-textura-degradado-suave-patron-sitio-web-brillante-brillante-encabezado-banner-o-imagen-arte-grafico-barra-lateral_1258-83074.jpg?w=826&t=st=1666635828~exp=1666636428~hmac=fe42181f5e33802056692d9ae127c3686f8e6f98b1039c5155a20019fbef4187.jpg");
    margin-top: -1%;
    color: white;
    background-size: 100% ;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: larger;
    margin-left: -10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    
}



.easy-name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-large;
    margin-left: -8%;
    
}




.date{
    font-family: georgia;
    /*display: flex;
    flex-direction: column;*/
    
    
    
}

.cuerpo{
   
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    
}

.sector_medicos{
    border-radius: 5px 5px 0px 0px;
    width: 300px; 
    height: 300px;
    padding: 10px;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(255, 255, 255);
    font-family: georgia;
    text-align: justify;
    background-image: url("https://img.freepik.com/free-photo/doctor-nurses-special-equipment_23-2148980721.jpg?w=2000");
    background-size: 125% 100% ;
    background-repeat: no-repeat;
    background-position: -40px;
    animation: imagenes-medicos 5s infinite;
    animation-direction: alternate;
}

@keyframes imagenes-medicos{
    0%, 30% {
        background-image: url(../imagenes/medicos1.jpg);
    }
    35%, 65% {
        background-image: url(../imagenes/medicos2.jpg);
    }
    75%, 100% {
        background-image: url(../imagenes/medicos3.jpg);
    }
}


.about-us{
    border-radius: 5px 5px 0px 0px;
    width: 350px;
    height: auto;
    padding: 10px;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(255, 255, 255);
    font-family: georgia;
    text-align: center;

}

.sector_pacientes{
    border-radius: 5px 5px 0px 0px;
    width: 300px; 
    height: 300px;
    padding: 10px;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(255, 255, 255);
    font-family: georgia;
    text-align: justify;
    background-size: 120% 100%;
    background-repeat: no-repeat;
    background-position: -40px;
    animation: imagenes-pacientes 5s infinite;
    animation-direction: alternate;
    
}

@keyframes imagenes-pacientes{
    0%, 30% {
        background-image: url(../imagenes/pacientes1.jpg);
    }
    35%, 65% {
        background-image: url(../imagenes/pacientes2.jpg);
    }
    75%, 100% {
        background-image: url(../imagenes/pacientes3.jpg);
    }

}

nav a{
    font-size: medium;
    text-align: center;
    margin-top: 110px;
    padding: 10px 25px;
    color: black;
    padding: 10px;
    background-color: white;
    text-decoration: none;
    display: block;
    border: 2px solid black;
}


nav a:hover{
    background-color: grey;
    font-size: larger;
    border: 3px solid black;
}




.final-text-zone{
    border-radius: 5px 5px 0 0;
    width:42.5%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 3px solid black;
    background: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    padding-left: 42%;
    margin-left: 7.5%;
    
}

.parrafo {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-right: 265px;
}

.p{
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-left: -195px;
}

.word {
    position: absolute;
    width: 220px;
    opacity: 0;
}
  
.letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}
  
.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
  
.letter.behind {
    transform: rotateX(-90deg);
}
  
.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
.wisteria {
    color: #8e44ad;
}
  
.belize {
    color: #2980b9;
}
  
.pomegranate {
    color: #c0392b;
}
  
.green {
    color: #16a085;
}
  
.midnight {
    color: #2c3e50;
}





















#anterior { float: left; width: 100px; font: bold 12pt arial;
    padding: 0.5em 0.1em; cursor: pointer ; }
#posterior { float: right; width: 100px; font: bold 12pt arial; 
    padding: 0.5em 0.1em; cursor: pointer ;}
#anterior:hover {color: blue;text-decoration: underline;}
#posterior:hover {color: blue; text-decoration: underline;}

#calendario{
    background: rgba(0, 0, 0, .1);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
    width: 300px;
    margin: 0 auto;
      display: inline-block;
      vertical-align: top;
  }
   #formulario{
        display: inline-block;
        vertical-align: top;
    }            
  h2 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 10px;
    text-align: center;
  }
  button {
    position: absolute;
    top: -4px;
  }
  button:first-child {
    left: 0;
  }
  button:last-child {
    right: 0;
  }
  table {
    background: #fff;
    border-collapse: collapse;
    color: #222;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    width: 100%;
  }
  td {
    color: #444;
    line-height: 22px;
    text-align: center;
  }
  tr:first-child td {
    color: #222;
    font-weight: 700;
}
